
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid" *ngIf="_uw.usertype!=undefined">
        <div class="row" [hidden]="_uw.usertype!=='customer'">
            <div class="card overflow-hidden">
                <div class="card overflow-hidden">
                    <div class="card-header align-items-start border-0 pb-0">
                        <div class="mr-auto">
                            <!-- <p class="mb-2 fs-13"><i class="fa fa-caret-up scale5 mr-2 text-success" aria-hidden="true"></i>4%(30 days)</p> -->
                            <img src="assets/images/operations/bankToUser.png">
                            <h4 class="text-black mb-0 font-w600">Cargar fondos a cuenta</h4>
                        </div>
                   
                    </div>
                    <div class="card-body p-0">
                        
                        <!-- <canvas id="widgetChart" class="max-h80 mt-auto"></canvas> -->
                        <div class="chart-wrapper">
                      
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card overflow-hidden">
                    <div class="card-header align-items-start border-0 pb-0">
                        <div class="mr-auto">
                            <!-- <p class="mb-2 fs-13"><i class="fa fa-caret-up scale5 mr-2 text-success" aria-hidden="true"></i>4%(30 days)</p> -->
                            <img src="assets/images/operations/userToUser.png">
                            <h4 class="text-black mb-0 font-w600">Transferir a otro usuario</h4>
                        </div>
                   
                    </div>
                    <div class="card-body p-0">
                        
                        <!-- <canvas id="widgetChart" class="max-h80 mt-auto"></canvas> -->
                        <div class="chart-wrapper">
                      
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card overflow-hidden">
                    <div class="card-header align-items-start border-0 pb-0">
                        <div class="mr-auto">
                            <!-- <p class="mb-2 fs-13"><i class="fa fa-caret-up scale5 mr-2 text-success" aria-hidden="true"></i>4%(30 days)</p> -->
                            <img src="assets/images/operations/userToBank.png">
                            <h4 class="text-black mb-0 font-w600">Retirar fondos</h4>
                        </div>
                   
                    </div>
                    <div class="card-body p-0">
                        
                        <!-- <canvas id="widgetChart" class="max-h80 mt-auto"></canvas> -->
                        <div class="chart-wrapper">
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-xxl-12" [hidden]="_uw.usertype!=='admin'">
                <div class="row" >
                    <div class="col-sm-7">
                        <app-sell-order></app-sell-order>
                    </div>
                    <div class="col-sm-5">
                        <app-buy-order></app-buy-order>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12" [hidden]="_uw.usertype!=='customer'">
                <div class="row" >
                    <div class="col-sm-12">
                     Nada que mostrar por ahora.
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->